.group1 {
    text-align: center;
    width: 100%;
    float:left;
}
.group7 {
    width: 100%;
    float:left;
    background-color: skyblue;
    padding: 50px;
    text-align: center;
}
.land {
    font-size: 16px;
    padding-bottom: 10px !important;
}
.group3 {
    width: 100%;
    float: left;
    padding-top: 10px !important;
    text-align: center;
}
.content {
    font-size: 16px;
}
.group2 {
    padding-top: 10px;
    width: 100%;
    float: left;
}
.sector1 {
    width: 100%;
    float: left;
}
