p
{
    font-size: 20px;
    font-style: normal;
    text-align: center;
    color: black;
    border: 4px solid black;
    padding: 1px 1px;
    margin: 5px 0px !important;
}
.groupa
{
    background-color: cornflowerblue;
}
.groupb
{
    background-color: cornflowerblue;
}
.groupc
{ 
    background-color: cornflowerblue;
}
.groupd
{
    background-color: cornflowerblue;
} 
.groupe
{
    background-color: cornflowerblue;
}
.groupf
{
    background-color: cornflowerblue;
}
.groupg
{
    background-color: cornflowerblue;
}
.grouph
{
    background-color: cornflowerblue;
}
.groupi
{
    background-color: cornflowerblue;
}
.groupj
{
    background-color: cornflowerblue;
}
.groupk
{
    background-color: cornflowerblue;
}
.groupl
{
    background-color: cornflowerblue;
} 
.groupm
{
    background-color: green;
}
.groupn
{
    background-color: green;
}
.groupo
{
    background-color: green;
}
.groupp
{
    background-color: green;
}
.groupq
{
    background-color: blue;
}
.groupr
{
    background-color: blue;
}
.groups
{
    background-color: blue;
}
.groupt
{
    background-color: skyblue;
}
.groupu
{
    background-color: skyblue;
}
.groupv
{
    background-color: violet;
}
.groupw
{
    background-color: violet;
}
.groupx
{
    background-color: violet;
}
.groupy
{
    background-color: violet;
}
.groupz
{
    background-color: violet;
}
.subgroup
{
    background-color: mediumvioletred;
}
.subgroupa
{
    background-color: mediumvioletred;
}
.subgroupb
{
    background-color: maroon;
}